*{
    padding: 0;
    margin: 0;
}
.bac{
    background-color: #111148d3;
    width: fit-content;
    height: 30vh;
   
}
p{
    text-align: center;
}
.bac2{
    display: flex;
    justify-content: center;
}