*{
    padding: 0;
    margin: 0;
    color: white;
}
.bac{
    background-color: #111148d3;
    width: fit-content;
    height: 30vh;
   
}
p{
    text-align: center;

}
.parent{
    display: flex;
    justify-content: center;
    align-items: center


}
.lone{
    background-image:linear-gradient( grey,black) ;
    width: fit-content;
    height: 30vh;
  
 
}