*{
    padding: 0;
    margin: 0;
    color: white;
}
.bac{
    background-color: #111148d3;
    width: fit-content;
    height: 30vh;
   
}
p{
    text-align: center;

}
.parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.lone{
    background-image:linear-gradient( grey,black) ;
    width: fit-content;
    height: 30vh;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg);
    
}